<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Structural analysis by Madis Väin</title>
	
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/styles.less" media="screen, print">
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
    
	{% block extrahead %}{% endblock %}
</head>
<body>
    <div class="row-fluid">
        <div id="content" class="span10">{% block content %}{% endblock %}</div>
        <div id="sidebar" class="span2">{% block sidebar %}{% endblock %}</div>
    </div>
</body>
</html>