{% extends 'base.html' %}
{% load url from future %}

{% block extrahead %}
	<script type="text/javascript">
		$(document).ready(function() {
			// Load frame image
			$('<img />', {
			    id: 'frame',
			    src: '{% url 'plot' frame.uuid 'agg' %}'
			}).appendTo('#content');
			
			
			// Ajax modal
			$('[data-toggle="modal"]').click(function(e) {
				e.preventDefault();
				$.get($(this).children('a:first').attr('href'), function(data) {
					$('#popup').html(data)
					$('#popup').modal()
					//$('<div class="modal hide">' + data + '</div>').appendTo('body').modal();
				}).success(function() {
					$('input:text:visible:first').focus();
				});
			});
		});
	</script>

	<!--<script type="text/javascript">
		window.addEvent('domready', function() {
			var img = new Element('img', {
				id: 'frame',
				src : '{% url 'plot' frame.uuid 'agg' %}'
			}).inject($(document.body))
			
			// Menu showing and hiding
			$('menu-hide').addEvent('click', function(e) {
				e.stop();
				$('menu').tween('width', 0);
				$('menu-show').setStyle('display', 'block');
				$('menu-show').tween('width', 10);
				$('interface').setStyle('display', 'none');
			});
			$('menu-show').addEvent('click', function(e) {
				e.stop();
				$('menu').tween('width', 200);
				$('menu-show').setStyle('display', 'none');
				$('menu-show').tween('width', 0);
			});
			
			// Interface showing and hiding
			$$('#menu li:not(:first-of-type)').addEvent('click', function(e) {
				var interface = $('interface');
				
				// Members and joints
				if (this.getProperty('class') == 'membersandjoints') {
					interface.getElement('h2').set('text', 'Elements & Constraints');
					$('interface-content').load('{# url 'members' frame.uuid #}');
					$('interface-content').setStyle('display', 'block');
				}
				
				// Loads
				if (this.getProperty('class') == 'loads') {
					interface.getElement('h2').set('text', 'Loads');
					$('interface-content').load('{% url 'loads' frame.uuid %}');
					$('interface-content').setStyle('display', 'block');
				}
				
				// Show interface
				interface.setStyle('display', 'block');
			});
			$('interface-hide').addEvent('click', function() {
				img = new Element('img', {
					id: 'frame',
					src : '{% url 'plot' frame.uuid 'agg' %}'
				})
				
				$('interface').setStyle('display', 'none');
				$('interface-content').setStyle('display', 'none');
			});
		});
	</script>-->
{% endblock %}

{% block sidebar %}
	<ul class="nav nav-list">
		<li class="nav-header">Elements & Constraints</li>
		<li data-toggle="modal">
			<a href="{% url 'nodes' frame.uuid %}">
				Nodes<span class="badge" style="float: right;">{{ frame.nodes }}</span>
			</a>
		</li>
		<li data-toggle="modal">
			<a href="{% url 'elements' frame.uuid %}">
				Elements<span class="badge" style="float: right;">{{ frame.elements }}</span>
			</a>
		</li>
		
		<li class="nav-header">Loads</li>
		<li><a href="#">Concentrated<span class="badge" style="float: right;">{{ frame.elements }}</span></a></li>
		<li><a href="#">Distributed<span class="badge" style="float: right;">{{ frame.elements }}</span></a></li>
		<li><a href="#">Moments<span class="badge" style="float: right;">{{ frame.elements }}</span></a></li>
		
		<li class="divider"></li>
		
		<li class="nav-header">Results</li>
		<li><a href="#">Tension & Compression</a></li>
		<li><a href="#">Shear forces</a></li>
		<li><a href="#">Bending moments</a></li>
		<li><a href="#">Displacements</a></li>
		
		<li class="divider"></li>
		<li class="nav-header">Documentation</li>
		<li><a href="#">Thesis</a></li>
		<li><a href="#">Help</a></li>
	</ul>
{% endblock %}


{% block content %}
	<!--<embed id="frame" src="{% url 'plot' frame.uuid 'svg' %}" type="image/svg+xml" style="width: 100%; height:100%;" />-->
	<!--<object id="plot" data="{% url 'plot' frame.uuid 'svg' %}" type="image/svg+xml"></object>-->
	
	<div id="popup" class="modal hide"></div>
{% endblock %}
