{% load url from future %}

Homepage

<a href="{% url 'new_frame' %}">Start new</a>

<hr/>

<h2>Sissejuhatus</h2>
<ul>
	<li>Miks selline töö</li>
	<li>Miks seda vaja võiks olla?</li>
	<li>Mis selles valdkonnas enne tehtud on</li>
</ul>

<h2>FEM mudeli kirjeldus</h2>
<ul>
	<li>Eelised</li>
	<li>Puudused</li>
	<li>Põhimõtted</li>
	<li>Teooria</li>
</ul>

<h2>FEM tarkvaralehduse lähteülesanne</h2>

<h2>FEM tarkvara arvutused</h2>
<ul>
	<li>Maatriksid ja nende koostamine süstemaatiliselt</li>
	<li></li>
</ul>

<h2>Tulemuste põhine elementide dimensioneerimine</h2>
<p>
	Esialgu teha metallkonstruktsioonide põhine ja kasutada lisas 5 olevaid tabeleid.<br/><br/>
	Hiljem saaks lisada ka puitkonstruktsioonide dimensioneerimise
</p>

<h2>Edasised potentsiaalsed võimalused</h2>
<ul>
	<li>kolmedimensioonilisus</li>
	<li>puitkonstruktsioonide dimensioneerimine</li>
	<li>Liidete arvutamine</li>
	<li>Pragunemine / purunemine</li>
</ul>
