<table>
	<thead>
		<tr>
			<th colspan="3">Beginning</th>
			<th colspan="3">Ending</th>
			<th rowspan="2"></th>
		</tr>
		<tr>
			<th>X</th>
			<th>Y</th>
			<th>Supports</th>
			<th>X</th>
			<th>Y</th>
			<th>Supports</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
			<td class="center">
				<img src="/static/img/remove.png" alt="" />
			</td>
		</tr>
		<tr>
			<td>row 2, cell 1</td>
			<td>row 2, cell 2</td>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
			<td>row 1, cell 1</td>
			<td>row 1, cell 2</td>
			<td class="center">
				<img src="/static/img/remove.png" alt="" />
			</td>
		</tr>
	</tbody>
</table>

<br/><br/>
<a href="#" class="g-button icon-plus fr"><i class="icon-plus"></i> Add element</a>