{% load url from future %}

<form id="forms" method="post" action="{% url 'nodes' frame.uuid %}">{% csrf_token %}
    {{ node_formset.management_form }}
    {{ element_formset.management_form }}
	
    <div class="modal-header">
    	<button class="close" data-dismiss="modal">×</button>
    	<h3>Nodes</h3>
    </div>
    <div class="modal-body">
		<table class="table table-striped table-bordered table-condensed" style="width: 100%">
			<thead>
				<tr>
					<th>X</th>
					<th>Y</th>
					<th>Constraints</th>
					<th><img src="/static/img/remove.png" alt="" /></th>
				</tr>
			</thead>
			<tbody id="nodes">
				<tr id="empty_node" class="hidden">
					<td class="center">{{ node_formset.empty_form.x }}</td>
					<td class="center">{{ node_formset.empty_form.y }}</td>
					<td nowrap>
						x: {{ node_formset.empty_form.constraint_x }}
						y: {{ node_formset.empty_form.constraint_y }}
						r: {{ node_formset.empty_form.constraint_rotation }}
					</td>
					<td class="center">
						{{ node_formset.empty_form.DELETE }}
					</td>
				</tr>
				{% for form in node_formset %}
					<tr class="node">
						<td class="center">{{ form.x }}</td>
						<td class="center">{{ form.y }}</td>
						<td nowrap>
							x: {{ form.constraint_x }}
							y: {{ form.constraint_y }}
							r: {{ form.constraint_rotation }}
						</td>
						<td class="center">
							{{ form.id }}
							{{ form.DELETE }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
    </div>
</form>